@import "tailwindcss";

@theme {
    /* --color-* naming convention */
    --color-primary: #4f46e5;
    --color-primary-dark: #3730a3;
    --color-primary-light: #818cf8;

    --color-dark: #0f172a;
    --color-secondary: #64748b;
    --color-accent: #f43f5e;

    /* Animations*/
    --animate-float: float 3s ease-in-out infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }
    }
}